// colors palette

$accentRedColor: #E63946;
$accentLightBlueColor: #A8DADC;
$accentBlueColor: #457B9D;
$accentDeepBlueColor: #1D3557;

$checkboxColor: #ffffff;
$todoBodyColor: #ffffff;
$doneTextColor: #c1c1c1;
$checkboxHover: #d0d0d0;
$checkboxChecked: #808080;
$textColor: #353535;