// colors palette

$accentPinkColor: #f99dbd;
$accentCrimsonColor: #ff402e;
$accentLightGrayColor: #ccc;

$accentBlueColor: #5d8dee;
$accentPurpleColor: #ad5fe6;
$bodyBackgroundColor: linear-gradient(150deg, $accentBlueColor 20%, $accentPurpleColor 90%);

$todoListColor: #fff;
$checkboxChecked: #eeeeee;
$checkboxBorder: #cccccc;
$checkboxHover: #c4c4c4;
$doneTextColor: #c1c1c1;
$textColor: #515151;